<div class="index-bg">
  <div class="container">
    <div class="row">

      <% @cocktails.each do |cocktail| %>
      <div class="col-sm-4">
        <p><%= link_to "Remove", cocktail_path(cocktail), method: :delete %></p>
        <%= link_to cocktail_path(cocktail) do %>
          <div class="flip">
            <div class="front" style="background-image: url('<%= cocktail.photo %>');">
            </div>
            <div class="back">
               <h2><%= cocktail.name %></h2>
               <p><%= cocktail.description %></p>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- link_to "View Cocktail", cocktail_path(cocktail), class: 'btn btn-primary' -->
